@model PaperTrader.Models.Portfolio

@{
    ViewData["Title"] = Model.Name;
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>

    <div>
        <p>Net Gain: +33%</p>
        <p>Balance: $@Model.Cash.ToString("F2")</p>
        <p>Created At: @Model.CreatedAt.ToString("g")</p>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>

    <div>
        <h4>Stocks</h4>
        @if (Model.Stocks != null && Model.Stocks.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Ticker</th>
                        <th>Name</th>
                        <th>Shares</th>
                        <th>Avg Purchase Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stock in Model.Stocks)
                    {
                        <tr>
                            <td>@stock.StockTicker</td>
                            <td>@stock.Name</td>
                            <td>@stock.SharesTotal.ToString("F2")</td>
                            <td>$@stock.ShareAvgPurchasePrice.ToString("F2")</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No stocks in this portfolio.</p>
        }
    </div>
    <div>
        <a asp-action="Create" asp-controller="Stock" asp-route-id="@Model.Id">Add Stock</a>
    </div>
</div>
